:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  color: rgb(227, 174, 147);
  margin: 0;
  background: radial-gradient(circle, #5d1a78, #414b50);
}

button:hover,
button:focus {
  background-color: #7c2105;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  background: linear-gradient(45deg, rgb(138, 19, 45), rgb(236, 47, 35));
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

h1 {
  font-size: 50px;
  margin-top: 0;
  padding-top: 10px;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}
